{% extends "base.html" %} <!-- header -->

{% block content %}
    <div class="content">
        <div class="content-wrapper">
            <div class="content-left-unfix">
                <img id="img-coding" src="/static/img/streamline-icon-coding-3@400x400.png">

                <p>Image from <a href="https://www.streamlinehq.com">Free Coding 3 PNG illustration by Streamline</a></p>
            </div>

            <div class="content-flask content-right">
<!--                {% if session['username'] %}-->
<!--                    Hi {{ session['username'] }}!-->
<!--                {% endif %}-->
                <br>
                <br>
                <div class="index-center">
                    <br>
                    <br>
                    <br>
                    <h1>Looking for your perfect IT job?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <br>
                    <br>
                    <form action="" method="post" novalidate>
                        <a class="button button-margin" href="/roles">View Roles</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
