{% extends "base.html" %} <!-- header -->


{% block content %}
    <div class="content">
        <div class="content-wrapper">
            <div class="content-flask">
            <h1>Recruiter Job Upload </h1>
                <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.job_name(size=32,class_="input", placeholder="Job Title") }}
                    {{ form.location(size=32,class_="input", placeholder="Location") }}
                    {{ form.company(size=32,class_="input", placeholder="Company") }}
                    {{ form.salary(size=32,class_="input", placeholder="Annual Salary") }}
                    {{ form.job_details(size=32,class_="input", placeholder="Job Field") }}
                </p>
                <br>
                <p>{{ form.submit(class_="button") }}</p>
            </form>
              {% for msg in get_flashed_messages() %}
              <h2>{{ msg }}</h2>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}