{% extends "base.html" %} <!-- header -->

{% block content %}

    <div class="content">
        <div class="content-wrapper">
            <div class="content-flask">
            <h1>Register</h1>
                <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.staff_id(size=32,class_="input", placeholder="Staff ID") }}
                </p>
                <p>
                    {{ form.username(size=32,class_="input", placeholder="Username") }}
                </p>
                <p>
                    {{ form.password(size=32,class_="input", placeholder="Password") }}
                </p>
                <p>
                    {{ form.role(size=32,class_="input", placeholder="Role") }}
                </p>
                <br>
                <p>{{ form.submit(class_="button") }}</p>
            </form>
            <body>
              {% for msg in get_flashed_messages() %}
              <h2>{{ msg }}</h2>
              {% endfor %}
            </body>
            </div>
        </div>
    </div>
{% endblock %}