{% extends "base.html" %} <!-- header -->

{% block content %}
    <div class="content">
        <div class="content-wrapper">
        <div class="content-left">
            <h1>IT Roles</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.role_filter(class_="input input-dropdown") }}
                {{ form.sort(class_="button") }}
            </form>
            <br>
            {% for msg in get_flashed_messages() %}
                <div class="notif">
                    <p>Added filter for <b>{{ msg }}</b></p>
                </div>
            {% endfor %}
            <br>
            <p>Why not search our database?</p>
            <br>
            <form action="" method="post" novalidate>
                {{ search.hidden_tag() }}
                {{ search.search_term(size=32, class_="input search", placeholder="Search") }}
                {{ search.search_button(class_="button") }}
            </form>
            <br>
            <br>
            <p>Go ahead and download a csv file of all the roles.</p>
            <br>
            <form action="" method="post" novalidate>
                <a class="button button-margin" href="/download">Download .csv</a>
            </form>
            <br>
        </div>

        <div class="content-flask content-right">
            <div id="content-table">
            <table>
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Rank (Last 6 Months)</th>
                    <th>Rank Change (YoY)</th>
                    <th>Median Salary</th>
                    <th>Median Salary Change (YoY)</th>
                    <th>Historical Job Ads</th>
                    <th>Job Vacancies</th>
                </tr>
                </thead>
                <tbody>
                 {% for row in data %}
                    <tr>
                        <td><a href="{{ url_for('render_role', role=row[0].replace(' ','_')) }}">{{row[0]}}</a></td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{"£{:,}".format(row[3])}}</td>
                        <td>{{"{}%".format(row[4])}}</td>
                        <td>{{"{:,}".format(row[5])}}</td>
                        <td>{{"{:,}".format(row[6])}}</td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>

                {% if not session['username'] %}
                    <div class="capped"></div>
                    <br>
                    <div class="capped-text"><span class="material-icons m_icon">lock</span></div>
                    <div class="capped-text">Unlock all roles by <a href="/login">logging in</a></div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}

